# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.group6.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity projects\group6\.idea\.idea.group6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
